# Write a Python program to construct the following pattern, using a nested for loop.

* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

In [ ]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="") # or replace these three lines by print ('* ' * i)
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

# Write a Python program to get the Fibonacci series between 0 to 50.

In [ ]:
x,y=0,1

while y<50:
    print(y)
    x,y = y,x+y

# Write a Python program to create the multiplication table (from 1 to 10) of a number.

In [1]:
n = int(input("Input a number: "))

# use for loop to iterate 10 times
for i in range(1,11):
   print(n,'x',i,'=',n*i)

Input a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# Write a Python program to construct the following pattern
1
22
333
4444
55555
666666
7777777
88888888
999999999

In [ ]:
for i in range(10):
    print(str(i) * i)

# Write a program to check whether a given number is prime number.

In [ ]:
num = 29

# To take input from the user
#num = int(input("Enter a number: "))

# define a flag variable
flag = False

# prime numbers are greater than 1
if num > 1:
    # check for factors
    for i in range(2, num):
        if (num % i) == 0:
            # if factor is found, set flag to True
            flag = True
            # break out of loop
            break

# check if flag is True
if flag:
    print(num, "is not a prime number")
else:
    print(num, "is a prime number")

# Write a program to get the least common multiple of two integers.

In [ ]:
x, y = 4, 16 #15,17

if x > y:
    z = x
else:
    z = y
while(True):
    if((z % x == 0) and (z % y == 0)):
        lcm = z
        break
    z += 1
print(lcm)

# Write a Python program that accepts a string and calculate the number of digits and letters.

In [ ]:
s = input("Input a string")
d=l=0
for c in s:
    if c.isdigit():
        d=d+1
    elif c.isalpha():
        l=l+1
    else:
        pass
print("Letters", l)
print("Digits", d)

# how to print word ‘Python’ in

P
Py
Pyt
Pyth
Pytho
Python

In [ ]:
word = "Python"
x = ""
for i in word:
    x += i
    print(x)

# Pyramid of horizontal number tables

1 
2 4 
3 6 9 
4 8 12 16 
5 10 15 20 25 
6 12 18 24 30 36 
7 14 21 28 35 42 49 
8 16 24 32 40 48 56 64 
9 18 27 36 45 54 63 72 81 
10 20 30 40 50 60 70 80 90 100

In [ ]:
rows = 10
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(i * j, end=' ')
    print()

# Unique pyramid pattern of digits

1 
1 2 1 
1 2 3 2 1 
1 2 3 4 3 2 1 
1 2 3 4 5 4 3 2 1

In [ ]:
rows = 6
for i in range(1, rows):
    for j in range(1, i):
        print(j, end=" ")
    for j in range(i , 0, -1):
        print(j, end=" ")
    print()

# Pattern with a combination of numbers and stars

1 * 2 * 3 * 4 

1 * 2 * 3 

1 * 2 

1

In [5]:
row = 4
for i in range(1, row + 1):
    c = 1
    print(c, end=' ')
    for j in range(row - i , 0, -1):
        print('*', end=' ')
        c = c + 1
        print(c, end=' ')
    print('\n')

1 * 2 * 3 * 4

1 * 2 * 3

1 * 2

1

More examples in https://pynative.com/print-pattern-python-examples/