# Functional programming LAB!

## (i) What are the outputs of following examples?

In [2]:
nums1 = [1, 2, 3]
nums2 = [4, 5, 6]
nums=[(x,y) for x in nums1 for y in nums2]
print(nums)

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [3]:
nums = [x for x in range(21) if x%2==0 if x%5==0] 
print(nums)

[0, 10, 20]

In [4]:
new_list = [str(i) + '=Even' if i%2==0 else str(i) + "=Odd" for i in range(5)]
print(new_list)

['0=Even', '1=Odd', '2=Even', '3=Odd', '4=Even']

In [5]:
matrix=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
new_list=[num for row in matrix for num in row]
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## (ii) How to code the following problems?

##### Given a list of numbers, remove all odd numbers from the list:

In [6]:
numbers = [3,5,45,97,32,22,10,19,39,43]
result = [number for number in numbers if number % 2 == 0]
print(result)

[32, 22, 10]

##### Display the sum of digits of all the odd elements in a list.

In [7]:

# Explicit function
def digitSum(n):
    dsum = 0
    for ele in str(n):
        dsum += int(ele)
    return dsum
 
 
#Initializing list
List = [367, 111, 562, 945, 6726, 873]
 
# Using the function on odd elements of the list
newList = [digitSum(i) for i in List if i%2==1]
 
# Displaying new list
print(newList)

[16, 3, 18, 18]

##### Find the common numbers in two lists (without using a tuple or set)

In [8]:
list_a = [1, 2, 3, 4]
list_b = [2, 3, 4, 5, 6]
common = [a for a in list_a if a in list_b]
print(common)

[2, 3, 4]

##### Find all of the words in a string that are less than 4 letters

In [9]:
sentence = 'A Python list comprehension consists of brackets containing the expression, which is executed for each element along with the for loop to iterate over each element in the Python list.'

words_list = sentence.split()

result = [word for word in words_list if len(word) <=4]
print(result)

['A', 'list', 'of', 'the', 'is', 'for', 'each', 'with', 'the', 'for', 'loop', 'to', 'over', 'each', 'in', 'the']

##### Use a nested list comprehension to find all of the numbers from 1-100 that are divisible by any single digit besides 1 (2-9)

In [10]:
result = [number for number in range(1,100) if True in [True for x in range(2,10) if number % x == 0]]
print(result)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 38, 39, 40, 42, 44, 45, 46, 48, 49, 50, 51, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 69, 70, 72, 74, 75, 76, 77, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 98, 99]

## (iii) More Examples

##### Constructing a dictionary where keys are non-prime numbers less than 100, and values are sets containing all pairs of factors of that number:

In [11]:
def get_factors(num):
    return {x for x in range(1, num + 1) if num % x == 0}

non_primes = {num for num in range(2, 101) if any(num % i == 0 for i in range(2, num))}
non_prime_factors_dict = {non_prime: {factor for factor in get_factors(non_prime)} for non_prime in non_primes}
print(non_prime_factors_dict)

{4: {1, 2, 4}, 6: {1, 2, 3, 6}, 8: {8, 1, 2, 4}, 9: {1, 3, 9}, 10: {1, 2, 10, 5}, 12: {1, 2, 3, 4, 6, 12}, 14: {1, 2, 14, 7}, 15: {1, 3, 5, 15}, 16: {1, 2, 4, 8, 16}, 18: {1, 2, 3, 6, 9, 18}, 20: {1, 2, 4, 5, 10, 20}, 21: {1, 3, 21, 7}, 22: {1, 2, 11, 22}, 24: {1, 2, 3, 4, 6, 8, 12, 24}, 25: {1, 5, 25}, 26: {1, 2, 26, 13}, 27: {3, 1, 27, 9}, 28: {1, 2, 4, 7, 14, 28}, 30: {1, 2, 3, 5, 6, 10, 15, 30}, 32: {32, 1, 2, 4, 8, 16}, 33: {3, 1, 11, 33}, 34: {1, 2, 34, 17}, 35: {1, 35, 5, 7}, 36: {1, 2, 3, 4, 36, 6, 9, 12, 18}, 38: {1, 2, 19, 38}, 39: {1, 3, 13, 39}, 40: {1, 2, 4, 5, 8, 40, 10, 20}, 42: {1, 2, 3, 6, 7, 42, 14, 21}, 44: {1, 2, 4, 11, 44, 22}, 45: {1, 3, 5, 9, 45, 15}, 46: {1, 2, 46, 23}, 48: {1, 2, 3, 4, 6, 8, 12, 16, 48, 24}, 49: {1, 7, 49}, 50: {1, 2, 5, 10, 50, 25}, 51: {1, 3, 17, 51}, 52: {1, 2, 4, 13, 52, 26}, 54: {1, 2, 3, 6, 9, 18, 54, 27}, 55: {1, 11, 5, 55}, 56: {1, 2, 4, 7, 8, 14, 56, 28}, 57: {3, 1, 19, 57}, 58: {1, 2, 58, 29}, 60: {1, 2, 3, 4, 5, 6, 10, 12, 15, 20, 60, 30}, 62: {1, 2, 62, 31}, 63: {1, 3, 7, 9, 21, 63}, 64: {32, 1, 2, 64, 4, 8, 16}, 65: {65, 5, 13, 1}, 66: {1, 2, 3, 66, 33, 6, 11, 22}, 68: {1, 2, 34, 4, 68, 17}, 69: {1, 3, 69, 23}, 70: {1, 2, 35, 5, 70, 7, 10, 14}, 72: {1, 2, 3, 4, 36, 6, 8, 9, 72, 12, 18, 24}, 74: {1, 2, 37, 74}, 75: {1, 3, 5, 75, 15, 25}, 76: {1, 2, 4, 38, 76, 19}, 77: {1, 11, 77, 7}, 78: {1, 2, 3, 6, 39, 13, 78, 26}, 80: {1, 2, 4, 5, 8, 40, 10, 16, 80, 20}, 81: {1, 3, 9, 81, 27}, 82: {1, 2, 82, 41}, 84: {1, 2, 3, 4, 6, 7, 42, 12, 14, 84, 21, 28}, 85: {1, 5, 85, 17}, 86: {1, 2, 43, 86}, 87: {1, 3, 29, 87}, 88: {1, 2, 4, 8, 11, 44, 22, 88}, 90: {1, 2, 3, 5, 6, 9, 10, 45, 15, 18, 90, 30}, 91: {1, 91, 13, 7}, 92: {1, 2, 4, 46, 23, 92}, 93: {1, 3, 93, 31}, 94: {1, 2, 94, 47}, 95: {1, 19, 5, 95}, 96: {32, 1, 2, 3, 4, 96, 6, 8, 12, 16, 48, 24}, 98: {1, 2, 98, 7, 14, 49}, 99: {1, 33, 99, 3, 9, 11}, 100: {1, 2, 100, 4, 5, 10, 50, 20, 25}}

##### Write a Python script for calculating the sum of the positive and negative numbers of a given list using lambda and filter.
Output structure:

    Given list: [4, 5, 10, -4, -2, 8, -10]
    Sum of positive numbers:  27
    Sum of negative numbers:  -16

In [12]:
list1=[4, 5, 10, -4, -2, 8, -10]
pos_list = sum(filter(lambda n: n >=0, list1))
neg_list = sum(filter(lambda n: n<0, list1))

##### Write a Python script using python’s “sorted” function (and lambda) to sort a list of dictionaries based on the age key.

output structure:

	Given dictionary: [{‘name’:’Zahra’, ‘age’:26, ‘salary’:100},{‘name’:’Fatemeh’, ‘age’:21, ‘salary’:50}, {‘name’:’Mobina’, ‘age’:32, ‘salary’:250},{‘name’:’Hanieh’, ‘age’:17, ‘salary’:10}]
	Sorted list: [{‘name’:’Hanieh’, ‘age’:17, ‘salary’:10},{‘name’:’Fatemeh’, ‘age’:21, ‘salary’:50},{‘name’:’Zahra’, ‘age’:26, ‘salary’:100}, {‘name’:’Mobina’, ‘age’:32, ‘salary’:250}]

In [13]:
dic=[{'name':'Zahra', 'age':26, 'salary':100},{'name':'Fatemeh', 'age':21, \
  'salary':50}, {'name':'Mobina', 'age':32, 'salary':250},{'name':'Hanieh', 'age':17, 'salary':10}]
result = sorted(dic, key= lambda x: x['age'])
result

[{'name': 'Hanieh', 'age': 17, 'salary': 10},
 {'name': 'Fatemeh', 'age': 21, 'salary': 50},
 {'name': 'Zahra', 'age': 26, 'salary': 100},
 {'name': 'Mobina', 'age': 32, 'salary': 250}]

##### Using lambda and reduce, create Fibonacci series up to n.

	Output structure:
		fib(5) = [0, 1, 1, 2, 3]

In [14]:
from functools import reduce
fib = lambda n : reduce(lambda x, _: x + [x[-1] + x[-2]] , range(n-2), [0,1])
fib(5)

[0, 1, 1, 2, 3]

#### Using lambda, write a python script to count the number of times that items in a given list appear in the list. The output should be declared in a dictionary.

    Output structure:
        Original list: [0,0,1,0,2,2,2,3,5,4]
    Count dictionary: {0: 3, 2: 3, 3: 1, 4: 1, 5: 1}

In [15]:
list1 = [0,0,1,0,2,2,2,3,5,4]
dic = {key: list1.count(key)  for key in list1}
dic

{0: 3, 1: 1, 2: 3, 3: 1, 5: 1, 4: 1}

##### Use list comprehension to calculate the list of prime numbers up to given number n.

In [16]:
n = 100
result = [i for i in range(2,n+1) if not any([True for j in range(2,i) if i%j==0])]

## (iv) Zip

Let's say you have a list of lists, where each inner list represents a student's scores for different subjects. You want to calculate the average score for each subject across all students.

In [17]:
scores = [
    [85, 90, 88, 92],
    [79, 85, 91, 86],
    [90, 92, 94, 87]
]

# Transpose the data using zip() and unpacking
transposed_scores = zip(*scores)

# Calculate the average score for each subject
averages = [sum(subject_scores) / len(scores) for subject_scores in transposed_scores]

# Print the averages
for subject, average in zip(['Math', 'Science', 'History', 'English'], averages):
    print(f"Average score in {subject}: {average:.2f}")

# Output:
# Average score in Math: 84.67
# Average score in Science: 89.00
# Average score in History: 91.00
# Average score in English: 88.33

Average score in Math: 84.67
Average score in Science: 89.00
Average score in History: 91.00
Average score in English: 88.33

Suppose you have data representing the performance of different students in quizzes, assignments, and exams. Each student is represented by a tuple containing their name and their scores for each assessment. Your task is to calculate the total score for each student and print their name along with their total score.

In [18]:
# Data representing student names and their scores for quizzes, assignments, and exams
student_data = [
    ('Alice', 85, 90, 88),
    ('Bob', 79, 85, 91),
    ('Charlie', 90, 92, 94)
]

# Calculate the total score for each student
total_scores = [sum(scores[1:]) for scores in student_data]

# Print each student's name along with their total score
for student, total_score in zip(student_data, total_scores):
    print(f"{student[0]}: Total Score: {total_score}")

# Output:
# Alice: Total Score: 263
# Bob: Total Score: 255
# Charlie: Total Score: 276

Alice: Total Score: 263
Bob: Total Score: 255
Charlie: Total Score: 276

## (v) Generator

implement a generator for Fibonacci numbers

In [19]:
def fibonacci_generator(num):
    # Initialize the first two Fibonacci numbers
    a, b = 0, 1
    
    # Generate Fibonacci numbers up to the limit
    while a <= num:
        yield a
        a, b = b, a + b

# Generate Fibonacci numbers up to 100
fibonacci_sequence = fibonacci_generator(100)

# Print the generated Fibonacci numbers
for number in fibonacci_sequence:
    print(number)

0
1
1
2
3
5
8
13
21
34
55
89